body {
    margin: 0;
    height: 100%;
}


    .contact button {
        width: 300px;
        border-radius: 23px;
        font: normal normal normal 30px/40px Segoe UI;
        color: #0c0202;
        letter-spacing: 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 23px;
        padding: 4px;
        opacity: 1;
        margin-top: 5px;
    }
    h1{
        font: normal normal normal 60px/12px Arial;
        letter-spacing: 0px;
        color: #0C0202;
        opacity: 0.9;
    }
    button {
        line-height: 3em;
        padding-left: 5px;
    }

    .contact h2 {
        font: normal normal normal 21px/12px Arial;
        letter-spacing: 0px;
        color: #0c0202;
        opacity: 0.9;

    }

    .contact {
        text-align: center;
        margin-top: 60px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .none {
        display: none;
    }

p{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin: 1.5em;
}
h2{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin: 1.5em;
}
p.dodaj{

    margin-left: 25em;
}
d{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin-left: -14em;
}
d.phone{
    margin-right: -2em;
}
g{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin: 1.5em;
    font: normal normal normal 30px/12px Arial;
    letter-spacing: 0px;
    color: #0c0202;
    opacity: 0.9;
    margin-left: -6em;

}
.no-valid{
    border:3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
.search-bar{
    margin-left: 3em;

    box-shadow: 0px 3px 6px #00000029;
    width: 25%;
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(221,212,212,1) 0%, rgba(153,218,186,1) 0%);
}
.flex>img{
    width :100px ;
    height:100px;
    border-radius: 50%;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #707070;
}
.flex2 input {
    justify-content: flex-start;
    background-color: #fff;
}



.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}

input {
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    width: 70%;
}

.container-background-image {
    background: transparent url("../../img/tło1.svg") 0% 0% no-repeat padding-box;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.logo {
    background: transparent url("../../img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 120px;
    opacity: 1;
}
.logo-home {
    background: #faf7f7 0% 0% no-repeat padding-box;
    width: 0;
    height: 0;
    margin-top: 80px;
    width: 0;
    transform: rotate(10deg);
    height: 0;
    margin-left: 20px;
    border-top: 16px solid white;
    border-right: 103px solid transparent;
    border-left: 26px solid transparent;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}

nav button {
    width: auto;
    border-radius: 23px;
    font: normal normal normal 30px/40px Segoe UI;
    color: #0c0202;
    letter-spacing: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 23px;
    padding: 4px;
    opacity: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.border {
    border-bottom: 2px solid #0c0202;
}

.image-start {
    background: transparent url("../../../asety/paper-3213924_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-start {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75;
}
.container-start nav {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}



.blue-background {
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(9,96,121,1) 0%, rgba(9,70,124,1) 0%, rgba(0,255,165,1) 44%);
    opacity: 1;
}

.kontakt {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(12,228,14,1) 0%, rgba(0,195,255,1) 0%);
    min-height: 80vh;
    height: 100%;
    margin-top: 20px;
}

.flex p {
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex2 p {
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex j{
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex k{
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}

.flex input {
    justify-content: flex-start;
    background-color: #fff;
}
a.button{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration:#8bccff;
    color: black;

}
.container h1{
    font-size:40px;
}
.container p{
    font-size:35px;

}
