body {
    margin: 0;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .container-grid {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        justify-content: center;
    }
    .text-menu {
        display: none;
    }

    .form {
        background: #ffffffcf 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 6px #00000029;
        border: 1px solid #0c0202;
        border-radius: 51px;
        opacity: 0.6;
        margin-top: 100px;
        max-width: 360px;
        width: 100%;
        margin: auto;
    }
    .rectangle {
        background: #faf7f7 0% 0% no-repeat padding-box;
        width: 0;
        height: 0;
        margin-top: 80px;
        width: 0;
        transform: rotate(10deg);
        height: 0;
        margin-left: 20px;
        border-top: 16px solid white;
        border-right: 103px solid transparent;
        border-left: 26px solid transparent;
    }

    .logo-form {
        background: transparent
        url("../../../asety/222222222222222222222-removebg-preview.png");

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        left: 0px;
        width: 119px;
        height: 89px;
        border: 0px;
        opacity: 1;
    }
    .form form {
        max-width: 80%;
        margin: auto;
        margin-top: 40px;
        margin-top: 150px;
    }
    .form input {
        max-width: 300px;
        width: 100%;
    }
    .image-menu {
        display: none;
    }
    .container-menu {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        min-height: 100vh;
    }
    aside {
        background: transparent url("../../../asety/paper-3213924_1920.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.55;
    }
    .list-menu {
        list-style-type: none;
        color: black;
        opacity: 1;
        text-align: center;
        font: normal normal bold 21px/10px Arial;
        letter-spacing: 0px;
        color: #000000;
    }
    .display-rwd {
        display: inline;
    }
    .list-menu li {
        margin-top: 80px;
    }
    .container-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: left;
        font: normal normal normal 15px/10px Segoe UI;
        letter-spacing: 0px;
        font-weight: bold;
        color: #000000;
        justify-content: space-between;
    }
    p{
        list-style-type: none;
        text-align: left;
        font: normal normal normal 15px/10px Segoe UI;
        letter-spacing: 0px;
        font-weight: bold;
        color: #000000;
    }


    }
    .contact button {
        width: 300px;
        border-radius: 23px;
        font: normal normal normal 30px/40px Segoe UI;
        color: #0c0202;
        letter-spacing: 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 23px;
        padding: 4px;
        opacity: 1;
        margin-top: 5px;
    }
    button {
        line-height: 3em;
        padding-left: 5px;
    }
    .login button{
        margin-left: 5em;
    }
    .contact p {
        font: normal normal normal 21px/12px Arial;
        letter-spacing: 0px;
        color: #0c0202;
        opacity: 0.9;

    }

    .contact {
        text-align: center;
        margin-top: 61px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        border-bottom: 1px solid #707070;
    }
    .none {
        display: none;
    }

p{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin: 1.5em;
}
p.dodaj{

    margin-left: 25em;
}
d{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin-left: -14em;
}
d.phone{
    margin-right: -2em;
}
g{
    margin-block-start: 0.7em;
    margin-block-end: 0em;
    font-size: x-large;
    margin: 1.5em;
    font: normal normal normal 30px/12px Arial;
    letter-spacing: 0px;
    color: #0c0202;
    opacity: 0.9;
    margin-left: -6em;

}
.no-valid{
    border:3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
.search-bar{
    margin-left: 3em;

    box-shadow: 0px 3px 6px #00000029;
    width: 25%;
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(221,212,212,1) 0%, rgba(153,218,186,1) 0%);
}
.flex>img{
    width :100px ;
    height:100px;
    border-radius: 50%;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #707070;
}
.flex2 input {
    justify-content: flex-start;
    background-color: #fff;
}

@media screen and (min-width: 600px) {
    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 90vh;
        height: 100%;
        width: 100%;
    }
    .form {
        background: #ffffffcf 0% 0% no-repeat padding-box;
        box-shadow: 0px 6px 6px #00000029;
        border: 1px solid #0c0202;
        border-radius: 51px;
        opacity: 0.6;
        max-width: 600px;
        margin-top: 100px;
        width: 100%;
    }

    .logo-form {
        background: transparent
        url("../../../asety/222222222222222222222-removebg-preview.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        left: 0px;
        width: 578px;
        height: 432px;
        border: 0px solid #0c0202;
        opacity: 1;
    }
    .rectangle {
        top: 280px;
        left: 96px;
        background: #faf7f7 0% 0% no-repeat padding-box;
        width: 0;
        height: 0;
        width: 0;
        transform: rotate(10deg);
        height: 0;
        margin-top: 304px;
        margin-left: 143px;
        border-top: 46px solid white;
        border-right: 259px solid transparent;
        border-left: 36px solid transparent;
    }
    .form form {
        max-width: 80%;
        margin: auto;
        margin-top: 40px;
        margin-top: 150px;
    }
    .form input {
        max-width: 60%;
        margin: auto;
        padding: 20px;
    }
    .form label {
        font-weight: bold;
    }
    .form button {
        width: auto;
        border-radius: 23px;
        font: normal normal normal 30px/40px Segoe UI;
        color: #0c0202;
        letter-spacing: 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 23px;
        padding: 4px;
        opacity: 1;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .container-menu {
        display: grid;
        grid-template-columns: 1fr 5fr;
        height: 100%;
        min-height: 100vh;
    }

    .image-menu {
        background: transparent url("../../../asety/startup-593327_1920.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.55;
        display: block;
    }
    .text-menu {
        display: block;
        border-bottom: 1px solid #0c0202;
        position: absolute;
        max-width: 1062px;
        width: 100%;
        left: 215px;
    }
    .display-rwd {
        display: none;
    }

    aside {
        background: transparent url("../../../asety/paper-3213924_1920.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.55;
    }

    .list-menu {
        list-style-type: none;
        color: black;
        opacity: 1;
        text-align: left;
        font: normal normal bold 21px/10px Arial;
        letter-spacing: 0px;
        color: #000000;
    }
    .list-menu li {
        margin-top: 80px;
    }
    .container-logo {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-align: left;
        font: normal normal normal 30px/40px Segoe UI;
        letter-spacing: 0px;
        font-weight: bold;
        color: #000000;
        align-items: center;
        align-content: space-between;

        margin: 10px;
    }
    li{
        margin-left: 50px;

    }
    .contact button {
        width: 370px;
        border-radius: 23px;
        font: normal normal normal 30px/40px Segoe UI;
        color: #0c0202;
        letter-spacing: 0px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 23px;
        padding: 4px;
        opacity: 1;
        padding-left: 25px;
        padding-right: 25px;
    }
    button {
        margin: 1em;
        line-height: 3em;
        padding-left: 5px;
    }
    .contact p {
        font: normal normal normal 30px/12px Arial;
        letter-spacing: 0px;
        color: #0c0202;
        opacity: 0.9;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-top: 60px;
    }

    .flex {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        border-bottom: 1px solid #707070;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}

input {
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    width: 70%;
}

.container-background-image {
    background: transparent url("../../img/tło1.svg") 0% 0% no-repeat padding-box;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.logo {
    background: transparent url("../../img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 120px;
    opacity: 1;
}
.logo-home {
    background: #faf7f7 0% 0% no-repeat padding-box;
    width: 0;
    height: 0;
    margin-top: 80px;
    width: 0;
    transform: rotate(10deg);
    height: 0;
    margin-left: 20px;
    border-top: 16px solid white;
    border-right: 103px solid transparent;
    border-left: 26px solid transparent;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}

nav button {
    width: auto;
    border-radius: 23px;
    font: normal normal normal 30px/40px Segoe UI;
    color: #0c0202;
    letter-spacing: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 23px;
    padding: 4px;
    opacity: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.border {
    border-bottom: 2px solid #0c0202;
}

.image-start {
    background: transparent url("../../../asety/paper-3213924_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-start {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75;
}
.container-start nav {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}



.blue-background {
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(9,96,121,1) 0%, rgba(9,70,124,1) 0%, rgba(0,255,165,1) 44%);
    opacity: 1;
}

.kontakt {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    background: rgb(36,0,20);
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(12,228,14,1) 0%, rgba(0,195,255,1) 0%);
    min-height: 80vh;
    height: 100%;
    margin-top: 20px;
}

.flex p {
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex2 p {
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex j{
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}
.flex k{
    width: 250px;
    font: normal normal bold 21px/12px Arial;
    letter-spacing: 0px;
    color: #0d0d0d;
}

.flex input {
    justify-content: flex-start;
    background-color: #fff;
}
a.button{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration:#8bccff;
    color: black;

}
.container h1{
    font-size:40px;
}
.container p{
    font-size:35px;

}
